<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.phuckhoa.book_ecommerce_server.mapper.DiscountMapper">
    <resultMap id="discountResultMap"
        type="com.phuckhoa.book_ecommerce_server.model.Discount"
    >
        <result column="ID" property="id"></result>
		<result column="start_date" property="start_date"></result>
		<result column="end_date" property="end_date"></result>
        <result column="percent" property="percent"></result>
		<result column="title" property="title"></result>
    </resultMap>

    <select id="getAllDiscounts" resultMap="discountResultMap">
        SELECT  u.id,
                u.start_date,
                u.start_date,
                u.percent,
                u.title
        FROM discount u 
        WHERE 1 = 1
    </select>

    <select id="getDiscount">
        SELECT  u.id,
                u.start_date,
                u.start_date,
                u.percent,
                u.title
        FROM discount u 
        WHERE discount.id=#{discountid}
    </select>

    <insert id="createDiscount">
		INSERT INTO discount (
		        id,
                start_date,
                end_date,
                percent,
                title
		) VALUES (
		        #{id},
                #{start_date},
                #{end_date},
                #{percent},
                #{titl},

		)



	</insert>

    
</mapper>