<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.phuckhoa.book_ecommerce_server.mapper.UserMapper">
    <resultMap id="userResultMap"
        type="com.phuckhoa.book_ecommerce_server.model.User"
    >
        <result column="ID" property="id"></result>
		<result column="PASSWORD" property="password"></result>
		<result column="AVATAR" property="avatar"></result>
		<result column="EMAIL" property="email"></result>
		<result column="ROLEID" property="roleId"></result>
		<result column="PHONE" property="phone"></result>
		<result column="BIRTHDAY" property="birthday"></result>
		<result column="FIRSTNAME" property="firstname"></result>
        <result column="LASTNAME" property="lastname"></result>
		<result column="ADDRESS" property="address"></result>
    </resultMap>
    <resultMap id="userResultMapGetOnlyEmail"
        type="com.phuckhoa.book_ecommerce_server.DTO.Email"
    >
		<result column="EMAIL" property="email"></result>
    </resultMap>

    <select id="getAllUsers" resultMap="userResultMap">
        SELECT  u.ID,
                u.PASSWORD,
                u.AVATAR,
                u.EMAIL,
                u.ROLEID,
                u.PHONE,
                u.BIRTHDAY,
                u.FIRSTNAME,
                u.LASTNAME,
                u.ADDRESS
        FROM user u 
        WHERE 1 = 1
    </select>

    <select id="getUser" resultMap="userResultMap">
        SELECT  u.ID,
                u.PASSWORD,
                u.AVATAR,
                u.EMAIL,
                u.ROLEID,
                u.PHONE,
                u.BIRTHDAY,
                u.FIRSTNAME,
                u.LASTNAME,
                u.ADDRESS
        FROM user u 
        WHERE u.ID = #{userid}
    </select>

    <select id="checkEmailExist" resultMap="userResultMapGetOnlyEmail">
        SELECT
            u.EMAIL
        FROM user u 
        WHERE u.EMAIL = #{email}
        LIMIT 1
    </select>

    <insert id="createNewUser">
		INSERT INTO user (
		        ID,
                PASSWORD,
                AVATAR,
                EMAIL,
                ROLEID,
                PHONE,
                BIRTHDAY,
                FIRSTNAME,
                LASTNAME,
                ADDRESS
		) VALUES (
		#{id}
		, #{password}
		, #{avatar}
		, #{email}
		, #{roleId}
		, #{phone}
		, #{birthday}
		, #{firstname}
		, #{lastname}
		, #{address}

		)



	</insert>

    <update id="updateUser">
        UPDATE user 
        SET PASSWORD = #{password},
            AVATAR = #{avatar},
            EMAIL = #{email},
            ROLEID = #{roleid},
            PHONE = #{phone},
            BIRTHDAY = #{birthday},
            FIRSTNAME = #{firstname},
            LASTNAME = #{lastname},
            ADDRESS = #{address}
        WHERE id=#{userid}
    </update>

    
</mapper>